.banner {
    color: var(--color-white);
    padding-top: 130px;
    box-sizing: border-box;
    background-image: url(./../images/banner.webp);
    height: 960px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.banner>div>h3 {
    font-size: 130px;
    font-weight: bold;
    line-height: 1.2;
}

.banner>div>p {
    max-width: 600px;
    margin: 40px 0 70px 0;
}

.banner__monitor-big {
    position: absolute;
    width: 1029px;
    bottom: -87px;
    right: calc(50% - 796px);
}


@media screen and (max-width: 1600px) {
    .banner>div>h3 {
        font-size: 120px;
    }

    .banner__monitor-big {
        width: 993px;
        bottom: -65px;
        right: calc(50% - 684px);
    }
}

@media screen and (max-width: 1470px) {
    .banner>div>h3 {
        font-size: 110px;
    }

    .banner__monitor-big {
        width: 893px;
    }
}



@media screen and (max-width: 1400px) {
    .banner {
        padding-top: 110px;
        background-image: url(./../images/banner1400.webp);
        height: 700px;
    }

    .banner>div>p {
        max-width: 413px;
        margin: 35px 0 60px 0;
        line-height: 1.8;
    }

    .banner>div>h3 {
        font-size: 84px;
    }

    .banner__monitor-big {
        width: 667px;
        bottom: -66px;
        right: calc(50% - 587px);

    }
}


@media screen and (max-width: 1300px) {
    .banner {
        padding-top: 75px;
        height: 556px;
    }

    .banner>div>h3 {
        font-size: 64px;
    }

    .banner>div>p {
        max-width: 300px;
        margin: 35px 0 50px 0;
    }

    .banner__monitor-big {
        bottom: -55px;
        right: calc(50% - 605px);
    }
}


@media screen and (max-width: 1230px) {
    .banner__monitor-big {
        width: 580px;
        bottom: -40px;
        right: calc(50% - 470px);
    }
}

@media screen and (max-width: 1000px) {
    .banner__monitor-big {
        width: 529px;
        right: calc(50% - 406px);
    }
}

@media screen and (max-width: 830px) {
    .banner__monitor-big {
        width: 427px;
        right: calc(50% - 357px);
    }
}

@media screen and (max-width: 768px) {
    .banner__monitor-big {
        width: 390px;
        right: calc(50% - 337px);
    }
}



@media screen and (max-width: 680px) {
    .banner {
        padding-top: 50px;
        background-image: url(./../images/banner680.webp);
        height: 765px;
    }

    .banner__monitor-big {
        width: 340px;
        bottom: -16px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
}


@media screen and (max-width: 600px) {
    .banner {
        height: 650px;
    }

    .banner>div>h3 {
        font-size: 48px;
        line-height: 1;
    }

    .banner>div>p {
        max-width: 100%;
        margin: 35px 0 35px 0;
        line-height: 1.5;
    }
}



@media screen and (max-width: 500px) {
    .banner {
        height: 710px;
    }

    .banner__monitor-big {
        width: 100%;
    }
}



@media screen and (max-width: 340px) {
    .banner>div>h3 {
        font-size: 45px;
    }
}

@media screen and (max-width: 330px) {
    .banner>div>p {
        margin: 20px 0 20px 0;
    }
}