.header-bg-main {
    background-image: url(./../images/bg.webp);
}

.header-bg-goods {
    background-image: url(./../images/header-bg-goods.webp);
}

.header-layout {
    background-color: #342483;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    padding: 50px 0;
}

.main__menu {
    display: none;
}

.header__logo>img {
    width: 150px;
}

.header__top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: end;
}

.header__nav {
    display: flex;
    margin-bottom: 30px;
}

.header__nav>div:first-child>li {
    margin-right: 50px;
}

.header__nav>div:last-child>li:first-child {
    margin-right: 50px;
}


.header__nav>div>li>a {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
}

.header__nav>div {
    display: flex
}


.header__tel {
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    line-height: 1.467;
    text-align: center;
    margin-bottom: 30px;
}

.header__menu {
    display: none;
}

.header__content {
    color: #ffffff;
    max-width: 1000px;
    margin: 35px auto 27px auto;
}


.header__content>h3 {
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.header__content>h4 {
    font-size: 61px;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    max-width: 520px;
    margin-top: 32px;
}


.header__content>span {
    /*position: absolute;
    left: 39%;*/
    margin: 0;
    font-weight: bold;
    font-size: 150px;
    line-height: 0.9;
    text-align: center;
    width: 100%;
    white-space: nowrap
        /*font-size: 59px;
    -moz-transform: matrix(4.17370823969246, 0, 0, 4.17370823969246, 0, 0);
    -webkit-transform: matrix(4.17370823969246, 0, 0, 4.17370823969246, 0, 0);
    -ms-transform: matrix(4.17370823969246, 0, 0, 4.17370823969246, 0, 0);
    */
}


.header__content>p {
    margin-top: 48px;
    max-width: 534px;
}

.header__img {
    position: relative;
}

.header__img>div>picture>img {
    position: absolute;
    top: -510px;
    right: calc(50% - 609px);
    width: 517px;
    height: auto;
}

@media screen and (max-width: 1590px) {
    .header__content>h3 {
        font-size: 45px;
    }

    .header__content>p {
        font-size: 20px;
        max-width: 665px;
    }

    .header__img>div>picture>img {
        top: -420px;
        right: calc(50% - 532px);
        width: 383px;
    }
}

@media screen and (max-width: 1450px) {
    .header__content>p {
        max-width: 445px;
        margin-top: 30px;
        font-size: 18px;
        line-height: 1.44;
    }

    .header__content>span {
        line-height: 0.95;
    }

    .header__img>div>picture>img {
        top: -450px;
    }
}

@media screen and (max-width: 1400px) {
    .header__nav>div>li>a {
        font-size: 14px;
    }

    .header__logo>img {
        width: 130px;
    }

    .header__content>h4 {
        font-size: 36px;
        max-width: 400px;
        margin-top: 10px;
    }

    .header__tel {
        font-size: 20px;
    }

    .header {
        padding: 30px 0 30px 0;
    }

    .header__content>h3 {
        font-size: 36px;
        margin-bottom: 16px;
    }

    .header__content {
        margin: 25px auto 45px auto;
    }

    .header__img>div>picture>img {
        top: -366px;
        right: calc(50% - 426px);
    }
}

@media screen and (max-width: 1300px) {
    .header__logo>img {
        width: 100px;
    }

    .header {
        padding: 20px 0 20px 0;
    }

    .header__nav {
        margin-bottom: 0px;
    }

    .header__content {
        margin-bottom: 47px;
        margin: 10px auto 33px auto;
    }

    .header__content>span {
        font-size: 126px;
        line-height: 0.9;
    }

    .header__content>h4 {
        font-size: 30px;
    }

    .header__content>h3 {
        font-size: 28px;
        margin-bottom: 5px;
    }

    .header__content>p {
        max-width: 406px;
        margin-top: 35px;
        font-size: 18px;
    }

    .header__nav>div>li>a {
        font-size: 12px;
        line-height: 2;
    }

    .header__tel {
        font-size: 14px;
    }

    .header__nav {
        max-width: 400px;
        flex-wrap: wrap;
    }

    .header__nav>div:first-child>li {
        margin-right: 0;
    }

    .header__nav>div:last-child>li:first-child {
        margin-right: 0px;
    }

    .header__nav>div {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .header__img>div>picture>img {
        top: -327px;
        right: calc(50% - 356px);
        width: 317px;
    }
}




@media screen and (max-width: 890px) {
    .header__img>div>div>img {
        width: 300px;
    }
}

@media screen and (max-width: 800px) {
    .header__content>span {
        font-size: 100px;
    }

    .header__content>p {
        max-width: 300px;
    }

    .header__img>div>picture>img {
        top: -345px;
        right: calc(50% - 272px);
    }
}

@media screen and (max-width: 767px) {
    .header {
        padding: 15px 0 80px 0;
    }

    .header-bg-goods>.layout>.header {
        padding: 15px 0 50px 0 !important;
    }

    .header-bg-goods>.layout>.header {
        padding: 15px 0 15px 0 !important;
    }

    .header__content {
        margin-bottom: 230px;
    }

    .header__content>span {
        font-size: 100px;
        text-align: center;
    }


    .header__content>h3 {
        font-size: 18px;
    }

    .header__content>p {
        max-width: 90%;
    }

    .header__nav {
        display: none;
    }

    .header__menu {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .header__menu>span {
        border-bottom: 2px solid #ffffff;
        width: 20px;
    }

    .header__menu>span:nth-child(2) {
        margin: 4px 0 4px 0px;
    }

    .main__menu {
        position: absolute;
        box-sizing: border-box;
        top: 0;
        right: 0;
        width: 100%;
        padding: 10px;
        background-color: white;
    }

    .main__menu>button {
        z-index: 5;
    }

    .menu__nav {
        display: flex;
        flex-direction: column;
        font-size: 18px;
        line-height: 2;
        position: relative;
        align-items: center;
    }

    .menu__nav>a {
        color: black;
    }

    .menu__close {
        position: absolute;
        top: 20px;
        right: 10px;
        font-size: 24px;
        cursor: pointer;
        padding: 10px;
        font-weight: 600;
        background-color: white !important;
        color: var(--text);
    }

    .header__img>div>picture>img {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: -80px;
        top: auto;
        width: 270px;
    }
}


@media screen and (max-width: 660px) {
    .header__content>span {
        font-size: 86px;
    }
}

@media screen and (max-width: 560px) {
    .header__content>span {
        font-size: 70px;
    }

    .header {
        padding: 15px 0 100px 0;
    }

    .header-bg-goods>.layout>.header {
        padding: 15px 0 15px 0 !important;
    }
}

@media screen and (max-width: 460px) {
    .header__content>span {
        font-size: 64px;
    }

    .header__img>div>picture>img {
        width: 255px;
        bottom: -46px;
    }

    .header-bg-main {
        background-image: url(./../images/bg-460.webp);
    }
}

@media screen and (max-width: 420px) {
    .header__content>span {
        font-size: 50px;
    }
}


@media screen and (max-width: 340px) {
    .header__content {
        margin-top: 45px;
    }

    .header__content>h3 {
        margin-bottom: 10px;
    }

    .header__content>p {
        max-width: 100%;
        font-size: 16px;
    }
}

@media screen and (max-width: 335px) {
    .header__content>span {
        font-size: 45px;
    }
}