.serieV {
    margin-top: 260px;
}


.serieV-first {
    margin-top: 70px;
}

.serieV__notice {
    background: var(--gray);
    width: 100%;
    padding: 73px 110px 83px 73px;
    box-sizing: border-box;
    position: relative;
}

.serieV__notice>blockquote {
    padding-left: 100px;
    line-height: 1.25 !important;
    font-style: italic;
}

.serieV__notice>div {
    font-size: 25px;
    margin-top: 45px;
    padding-left: 100px;
}

.serieV__notice:before {
    content: "";
    position: absolute;
    left: 70px;
    top: 80px;
    width: 50px;
    height: 50px;
    background: url(../images/quote.png);
    background-size: 100%;
    background-repeat: no-repeat;
}


.serieV__block {
    margin-top: 170px;
}

.serieV__subwoofer {
    display: flex;
    justify-content: space-between;
    margin-top: 85px;

}

.serieV__subwoofer>div {
    width: 360px;
}

.serieV__subwoofer>div>h4 {
    margin-bottom: 28px;
    font-size: 52px;
}

.serieV__subwoofer>div>p {
    font-size: 30px;
    font-weight: bold;
    margin: 36px 0 20px 0;
}

.serieV__subwoofer>div>a>button {
    width: 100%;
    color: var(--color-white);
    padding: 35px 0;
    font-size: 26px;
}

.serieV-mt {
    margin-top: 115px;
    position: relative;
}

.notice-stamp {
    position: absolute;
    bottom: -105px;
    width: 210px;
    right: 75px;
}

.serieV-head {
    padding-right: 110px;
}

.serieV-second {
    margin-top: 200px;
}

.serieV__history {
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.serieV__history>div {
    width: calc(100% / 2.2);
}

.serieV-mt>blockquote>strong {
    font-size: 52px;
}

.embedded-sub>div>h4 {
    margin-bottom: 28px;
    font-size: 43px;
}

.serieV-embedded {
    margin-top: 170px !important;
}

.embedded-sub {
    margin-top: 75px !important;
}


@media screen and (max-width: 1400px) {
    .serieV {
        margin-top: 150px;
    }

    .serieV-first {
        margin-top: 43px;
    }

    .serieV__notice {
        padding: 70px 78px 60px 70px;
    }

    .serieV__notice>blockquote {
        font-size: 22px;
    }

    .serieV__notice>div {
        font-size: 16px;
        margin-top: 38px;
    }

    .serieV__block {
        margin-top: 85px;
    }

    .serieV__subwoofer {
        padding-right: 80px;
        margin-top: 40px;
    }

    .serieV__subwoofer>div {
        width: 292px;
    }

    .serieV__subwoofer>div>img {
        width: 100%;
    }

    .serieV__subwoofer>div>p {
        font-size: 22px;
        margin: 30px 0 10px 0;
    }

    .serieV__subwoofer>div>h4 {
        margin-bottom: 23px;
        font-size: 32px;
    }

    .serieV__subwoofer>div>a>button {
        padding: 25px 0;
        font-size: 20px;
    }

    .serieV-mt {
        margin-top: 95px;
    }

    .notice-stamp {
        width: 156px;
        bottom: -50px;
        right: 130px;
    }

    .serieV-second {
        margin-top: 156px;
    }

    .serieV-head {
        padding-right: 136px;
    }

    .serieV__history>div>p {
        font-size: 16px !important;
    }

    .serieV-mt>blockquote>strong {
        font-size: 30px;
    }

    .serieV__history>div {
        width: calc(100% / 2.05);
    }

    .embedded-sub>div>h4 {
        margin-bottom: 28px;
        font-size: 30px;
    }

    .serieV-embedded {
        margin-top: 145px !important;
    }

    .embedded-sub {
        margin-top: 47px !important;
    }
}

@media screen and (max-width: 1300px) {
    .serieV {
        margin-top: 85px;
    }

    .serieV__notice {
        padding: 41px 25px 50px 20px;
    }

    .serieV__notice:before {
        margin-right: 20px;
        width: 30px;
        height: 30px;
        top: 45px;
        left: 47px;
    }

    .serieV__notice>blockquote {
        padding-left: 77px;
        font-size: 20px;
        line-height: 1.5 !important;
    }

    .serieV__notice>div {
        font-size: 16px;
        margin-top: 23px;
        padding-left: 77px;
    }

    .serieV__block {
        margin-top: 120px;
    }

    .serieV__subwoofer {
        padding-right: 60px;
    }

    .serieV__subwoofer>div>h4 {
        margin-bottom: 23px;
        font-size: 25px;
    }

    .serieV__subwoofer>div {
        width: 205px;
    }

    .serieV__subwoofer>div>p {
        font-size: 18px;
        margin: 40px 0 10px 0;
    }

    .serieV__subwoofer>div>a>button {
        padding: 20px 0;
        font-size: 18px;
    }

    .serieV-mt {
        margin-top: 90px;
    }

    .notice-stamp {
        width: 126px;
        bottom: -42px;
        right: 57px;
    }

    .serieV-second {
        margin-top: 144px;
    }

    .serieV__history {
        margin-top: 62px;
        padding-bottom: 8px;
    }

    .serieV__history>div {
        width: calc(100% / 2.05);
    }

    .serieV-mt>blockquote>strong {
        font-size: 26px;
    }

    .embedded-sub>div>h4 {
        margin-bottom: 28px;
        font-size: 24px;
    }

    .serieV-embedded {
        margin-top: 120px !important;
    }
}

@media screen and (max-width: 1000px) {
    .serieV__subwoofer {
        padding-right: 0px;
    }
}

@media screen and (max-width: 700px) {
    .serieV__subwoofer>div {
        width: calc((100% / 3) - 10px);
    }

    .serieV-mt {
        margin-top: 70px;
    }

    .serieV__subwoofer>div>p {
        font-size: 16px;
    }

    .serieV-head {
        padding-right: 0;
    }

    .embedded-sub>div>h4 {
        font-size: 20px;
    }

    .serieV__subwoofer-empty {
        display: none;
    }

    .serieV__block {
        margin-top: 85px;
    }

}

@media screen and (max-width: 600px) {
    .serieV__subwoofer>div>p {
        font-size: 13px;
    }

    .embedded-sub>div>h4 {
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    .serieV__notice {
        padding: 20px;
    }


    .serieV__notice:before {
        top: -10px;
        left: 20px;
    }

    .serieV__subwoofer>div>p {
        font-size: 16px;
    }

    .serieV__notice>blockquote {
        padding-left: 0px;
        font-size: 16px !important;
    }

    .serieV__notice>div {
        padding-left: 0px;
    }



    .serieV__subwoofer {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .serieV__subwoofer>div {
        width: 100%;
    }

    .serieV__subwoofer>div>p {
        font-size: 16px;
        margin: 30px 0 10px 0;
    }

    .serieV__subwoofer>div:first-child {
        margin-bottom: 55px;
    }

    .serieV__subwoofer>div:nth-child(2) {
        margin-bottom: 55px;
    }

    .notice-stamp {
        width: 110px;
        right: 31px;
    }

    .serieV__history {
        flex-direction: column;
    }

    .serieV__history>div {
        width: 100%;
    }

    .serieV__history>div:first-child {
        margin-bottom: 30px;
    }

    .serieV-embedded {
        margin-top: 85px !important;
    }



    .serieV__subwoofer>div>h4>br {
        display: none;
    }

    .embedded-sub>div>h4 {
        font-size: 20px;
    }

    .embedded-sub>div>h4>br {
        display: none
    }
}

@media screen and (max-width: 350px) {
    .embedded-sub>div>h4 {
        font-size: 18px;
    }
}