@import "./header.css";
@import "./studios.css";
@import "./sound.css";
@import "./swiper.css";
@import "./estimation.css";
@import "./article.css";
@import "./banner.css";
@import "./form.css";
@import "./good.css";
@import "./specifications.css";
@import "./review.css";
@import "./footer.css";
@import "./modals.css";
@import "./privacy.css";
@import "./thanks.css";
@import "./normalize.css";

:root {
    --color-white: #ffffff;
    --color-btb-st: #e6181a;
    --hover: #ff4142;
    --active: #c41416;
    --text: rgb(0, 0, 0);
    --gray: #f2f5f9;
    --gray-link: rgb(151, 159, 168);
    --gray-border: #e0e6ec;
    --gray-f8: #f8f8f8;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    background: white;
    font-family: "Montserrat", serif;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--color-white);
}

a:hover {
    color: var(--hover)
}

a:active {
    color: var(--active);
}



button {
    background-color: var(--color-btb-st);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: var(--hover);
}

button:active {
    background-color: var(--active);
}

.red-btn {
    font-size: 26px;
    width: 390px;
    color: var(--color-white);
    height: 95px;
    font-weight: bold;
}

input {
    background: #f2f5f9;
    border: none;
    padding-left: 40px;
    box-sizing: border-box;
}

input::placeholder {
    color: #979fa8;
    font-size: 20px;
}



.font-headline {
    font-size: 60px;
    line-height: 1.2;
}

.font-p {
    font-size: 24px;
    line-height: 1.5;
}

.font-36 {
    font-size: 36px;
    line-height: 1.111;
}


.font-span {
    font-size: 16px;
    line-height: 1.5;
}


.layout {
    max-width: 1590px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.layout2 {
    max-width: 1590px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
}



@media screen and (max-width: 1400px) {
    .red-btn {
        width: 290px;
        height: 73px;
        font-size: 20px;
    }

    .font-36 {
        font-size: 30px;
        line-height: 1
    }

    .layout {
        max-width: 1195px;
    }

    .font-headline {
        font-size: 40px;
    }

    .font-p {
        font-size: 20px;
    }

    .layout2 {
        max-width: 1045px;
    }
}

@media screen and (max-width: 1300px) {
    .layout {
        max-width: 808px;
    }

    .font-36 {
        font-size: 24px;
    }

    .red-btn {
        width: 245px;
        height: 60px;
    }

    .font-headline {
        font-size: 30px;
    }

    .font-p {
        font-size: 18px;
    }

    .layout2 {
        max-width: 810px;
    }

    input {
        padding-left: 20px;
    }
}


@media screen and (max-width: 767px) {
    .font-headline {
        font-size: 23px;
    }

    .font-span {
        font-size: 14px;
    }

    .font-36 {
        font-size: 20px;
    }
}

@media screen and (max-width: 425px) {
    .red-btn {
        width: 100%;
    }
}

@media screen and (max-width: 340px) {
    .layout {
        width: 100%;
    }

    .font-p {
        font-size: 16px;
    }
}