.thanks {
    display: flex;
    margin: 0 auto;
}

.thanks-layout {
    background-color: #342483;
    background-image: url(/images/bg.webp);
    background-repeat: no-repeat;
    background-position: center;
}

.thanksBlock {
    padding: 70px 0px 0px 0px;
    width: 1110px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}



.thanksBlock>h1 {
    font-size: 56px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
}

.thanksBlock>h1>br {
    display: none;
}

.thanksBlock>p {
    font-size: 30px;
    color: var(--color-white);
    line-height: 1.5;
    margin-top: 20px;
}

.timetable {
    border-radius: 5px;
    width: 636px;
    height: auto;
    margin: 100px auto 0 auto;
    box-sizing: border-box;
    padding-bottom: 55px;
}

.timetable>h5 {
    color: var(--color-white);
    font-size: 30px;
    line-height: 1.467;
    font-weight: 500;
}

.timetable>p {
    color: var(--color-white);
    font-size: 28px;
    line-height: 0.917;
    margin-top: 30px;
}

.timetable>p>span {
    font-size: 48px;
    font-weight: bold;
}


.timetable__days {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 436px;
    margin-top: 40px;

}

.timetable__days>div {
    width: 70px;
    height: 70px;
    border: 1px solid #c78eff;
    color: var(--color-white);
    border-radius: 5px;
    font-size: 30px;
    line-height: 2.1;
}

.timetable__span {
    font-size: 18px;
    color: var(--color-white);
    line-height: 1.333;
    text-align: center;
    max-width: 500px;
    margin: 45px auto 0 auto;
}



#output {
    color: rgb(255, 255, 255);
}


@media screen and (max-width: 1500px) {
    .thanksBlock>h1 {
        font-size: 45px;
    }
}

@media screen and (max-width: 1400px) {
    .timetable {
        margin: 80px auto 0 auto;
        padding-bottom: 45px;
    }
}


@media screen and (max-width: 1300px) {
    .thanksBlock {
        width: 600px;
        padding: 40px 0px 70px 0px;
    }

    .thanksBlock>h1 {
        font-size: 48px;
    }

    .thanksBlock>p {
        font-size: 20px;
    }

    .thanksBlock>h1>br {
        display: block;
    }

    .timetable {
        width: 100%;
    }

}

@media screen and (max-width: 768px) {

    .thanksBlock>h1 {
        font-size: 44px;
    }
}

@media screen and (max-width: 600px) {
    .timetable__days {
        max-width: 300px;
    }

    .timetable__days>div {
        width: 45px;
        height: 45px;
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    .thanksBlock>h1 {
        font-size: 36px;
        margin-top: 40px;
    }

    .timetable>p>span {
        font-size: 24px;
    }

    .timetable>p {
        font-size: 24px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 460px) {
    .thanks-layout {
        background-image: url(/images/bg-460.webp);
    }
}

@media screen and (max-width: 425px) {
    .timetable__days {
        max-width: 260px;
        margin-top: 10px;
    }

    .thanksBlock>p {
        font-size: 16px;
        margin-top: 30px;
    }

    .timetable {
        margin: 70px auto 0 auto;
    }

    .timetable>h5 {
        font-size: 20px;
        font-weight: bold;
    }

    .timetable>p>span {
        font-size: 20px;
    }

    .timetable__span {
        margin-top: 25px;
        font-size: 14px;
    }

}